# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
neurnet-*.tar


# For now better avoid .elixir
.elixir_ls
mix.lock

# Heritatet from erlang
*~
*.o
*.beam
*.plt
*.swp
*.swo
*.iml
_build
_checkouts
ebin
log
logs
rebar3.crashdump
rebar.lock
.idea
.eunit
.rebar
.rebar3
.erlang.cookie

# vscode
.vscode

# Custom files
run_test.exs

