{erl_opts, []}.
{deps, [eevo, enn, nntools]}.

{ shell, [
	% {config, [{config, "config/sys.config"}]},
	{apps, [neurnet]}
]}.

{relx, [{release, {xor_gate, "0.1.0"}, [neurnet, eevo, enn, nntools]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, true},
        {extended_start_script, true}]
}.

{profiles, [
	{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
	{test, [
		{deps, []},
		{erl_opts, [debug_info, export_all, nowarn_export_all, {d, debug_mode}]}
	]}]
}.

